{
  "plugins": [
    "@babel/plugin-external-helpers",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    [
      "@babel/env"
    ]
  ]
}
